#nav-bar {
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #00a087;
  color: #e8fdff;
  z-index: 1;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 200%;
  padding-left: 10px;
  float: left;
}

#nav-bar span.buttons {
  height: 100%;
  display: flex;
  align-items: center;
  float: right;
}

#nav-bar button {
  padding: 1rem;
}
  