.new-tweet {
  position: relative;
  top: 80px;
  margin-top: 4em;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #eee;
}
 
.new-tweet h2 {
  margin-block-start: 0;
  border-bottom: 1px solid #000;
}
 
.new-tweet textarea {
  width: 100%;
}
 
.counter {
  float: right;
}

#overCharLimit {
  color: #f00;
}