#tweets article:hover header, #tweets article:hover .icon {
  filter: opacity(100%);
}

#tweets article:hover {
  border: 1px solid #888;
}

#tweets article {
  margin-top: 10px;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 5px;
  border: 1px solid #bbb;
}
   
#tweets header {
  height: 70px;
  padding: 10px;
  background-color: #ddd;
  background-clip: padding-box;
  filter: opacity(60%);
}

#tweets header span {
  line-height: 1.75;
  float: right;
}

#tweets header img {
  height: 50px;
  width: 50px;
  float: left;
}

#tweets h2 {
  margin-block-start: 0;
  padding-left: 10px;
  float: left;
}

#tweets .tweetText {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #eee;
  font-size: 125%;
  word-break: break-word;
}

#tweets footer {
  height: 35px;
  line-height: 2;
  padding-left: 10px;
  padding-right: 10px;
}

#tweets .icon {
  filter: opacity(0%);
  float: right;
}